@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
body,html{width:100%;overflow-x:hidden}
body{margin:0;background:#f8f8f8;font-size:1.125rem}
html.no_scroll{overflow-y:hidden}
#page,.log_output,header{width:100%;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform .15s cubic-bezier(.2,.3,.25,.9);-moz-transition:-moz-transform .15s cubic-bezier(.2,.3,.25,.9);transition:transform .15s cubic-bezier(.2,.3,.25,.9)}
#header_logo{display:inline-block;padding:1.4rem 1.2rem 1rem;height:5rem}
#header_logo img{width:120px;height:36px;border:none}
#page{top:0;left:0;bottom:0;right:0}
#page_contents{margin:0 auto;padding:8rem 2rem}
body.no_header #page_contents{padding-top:2rem}
.section_contents{max-width:1024px;margin:auto;padding:4rem 2rem}
@media only screen and (max-width:640px){.section_contents{padding:2rem 1rem}
}
.full_width_fixed_section{position:fixed;z-index:1040;max-width:1024px;width:100%}
body.full_height #page{overflow:auto}
body.full_bleed #page_contents{width:auto;padding:0}
body.full_bleed section:first-of-type{padding-top:8rem}
@media only screen and (max-width:767px){body.full_bleed section:first-of-type{padding-top:7rem}
}
@media only screen and (max-width:640px){body.full_bleed section:first-of-type{padding-top:3rem}
}
body.deprecated{margin-top:2rem;position:relative}
#nojs_banner{width:100%;padding:.75rem 2rem;text-align:center;font-size:1rem;line-height:1.5rem;background:#fcf4da;border-bottom:1px solid #de4e2b;border-top:1px solid #de4e2b;position:fixed;margin-top:5rem;z-index:1000}
nav#site_nav{z-index:1;position:fixed;top:0;left:0;bottom:0;width:300px;background:#f8f8f8;overflow-y:auto;display:flex;flex-direction:column;-webkit-overflow-scrolling:touch;-webkit-transform:translateX(-300px);-moz-transform:translateX(-300px);-ms-transform:translateX(-300px);transform:translateX(-300px);-webkit-transition:-webkit-transform .15s cubic-bezier(.2,.3,.25,.9);-moz-transition:-moz-transform .15s cubic-bezier(.2,.3,.25,.9);transition:transform .15s cubic-bezier(.2,.3,.25,.9)}
nav#site_nav #site_nav_contents{flex:1}
nav#site_nav #user_menu_contents{color:#1d1c1d;font-weight:700;display:block;cursor:pointer;height:5rem;padding-top:1rem}
html.no_touch nav#site_nav #user_menu_contents:hover{background:#ddd}
html.no_touch nav#site_nav #user_menu_contents:hover .member_type_badge .member_type_badge_background_ra #badge_bg,html.no_touch nav#site_nav #user_menu_contents:hover .member_type_badge .member_type_badge_background_ura #badge_bg{fill:#ddd}
nav#site_nav #user_menu_avatar{float:left;margin:0 1rem 0 1.5rem}
nav#site_nav #user_menu_avatar .thumb_48{display:block}
nav#site_nav #user_menu_avatar .thumb_36{display:none}
nav#site_nav #user_menu_avatar .member_type_badge .member_type_badge_background_ra #badge_bg,nav#site_nav #user_menu_avatar .member_type_badge .member_type_badge_background_ura #badge_bg{fill:#f8f8f8}
nav#site_nav #user_menu_name{display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:175px;margin-top:-5px;margin-bottom:-4px;color:#1d1c1d}
nav#site_nav .nav_contents{padding:.5rem 1.5rem 1rem}
nav#site_nav .nav_contents ul:last-child{margin-bottom:0}
nav#site_nav h3{text-transform:uppercase;margin-bottom:0;color:#616061;font-weight:400;letter-spacing:.5px;font-size:.8rem}
nav#site_nav ul{list-style:none;padding:0;margin-top:0;margin-bottom:1.5rem;margin-left:0}
nav#site_nav ul a,nav#site_nav ul a:active,nav#site_nav ul a:hover,nav#site_nav ul a:link,nav#site_nav ul a:visited{color:#1d1c1d;text-decoration:none;padding:.25rem 0;display:block;font-size:15px;font-weight:400}
html.no_touch nav#site_nav ul a:hover{text-decoration:underline}
nav#site_nav ul a i{margin-right:.75rem}
nav#site_nav ul.primary_nav i{float:left}
nav#site_nav .ts_icon{color:rgba(29,28,29,.45)}
nav#site_nav #footer{padding:1.5rem}
nav#site_nav #footer_nav{margin-bottom:.5rem}
nav#site_nav #footer_nav a{font-size:.9rem;color:#616061}
nav#site_nav #footer_signature{color:#e01e5a;font-size:.9rem;margin-bottom:0}
.nav_open nav#site_nav{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.nav_open nav#site_nav #user_menu_avatar .member_type_badge .member_type_badge_background_ra #badge_bg,.nav_open nav#site_nav #user_menu_avatar .member_type_badge .member_type_badge_background_ura #badge_bg{fill:#616061}
.nav_open #page,.nav_open .log_output,.nav_open header,.nav_open nav.top{-webkit-transform:translateX(300px);-moz-transform:translateX(300px);-ms-transform:translateX(300px);transform:translateX(300px)}
.nav_open #menu_toggle{color:#1d9bd1;text-decoration:none}
.nav_open #menu_toggle .menu_icon{background-position:0 2px}
.nav_open #overlay{display:block;background-color:rgba(0,0,0,.1)}
#overlay{position:absolute;top:0;left:0;bottom:0;width:100%;z-index:1000;display:none;background-color:rgba(0,0,0,0);-webkit-transition:background-color .15s ease-out 0s;-moz-transition:background-color .15s ease-out 0s;transition:background-color .15s ease-out 0s}
header{background:#fff;height:5rem;box-shadow:0 1px 4px rgba(0,0,0,.15);position:fixed;top:0;left:0;right:0;z-index:100}
header.empty{background:0 0;height:auto;box-shadow:none;position:static}
header #menu_toggle{display:inline-block;height:5rem;color:#616061;font-weight:700;padding:1.8rem 1.7rem 1.6rem 2rem;float:left;position:relative;-webkit-transition:-webkit-transform .15s cubic-bezier(.2,.3,.25,.9);-moz-transition:-moz-transform .15s cubic-bezier(.2,.3,.25,.9);transition:transform .15s cubic-bezier(.2,.3,.25,.9)}
header .vert_divider{height:2.5rem;border-left:1px solid #d2d2d2;display:inline-block;margin:1.25rem 0;position:absolute;top:0;right:0}
header #header_team_name{margin-bottom:0;-webkit-transition:-webkit-transform .15s cubic-bezier(.2,.3,.25,.9);-moz-transition:-moz-transform .15s cubic-bezier(.2,.3,.25,.9);transition:transform .15s cubic-bezier(.2,.3,.25,.9)}
header #header_team_name a{max-width:450px;display:inline-block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#616061;font-size:1.4rem;font-weight:700;float:left;padding:1.4rem 1rem 1rem;margin-bottom:0;cursor:pointer}
header #header_team_name a i{font-size:28px;width:36px;margin:-2px .5rem 0;display:block;float:left}
header .menu_icon{background-image:url(/80588/img/icn_menu.png);background-repeat:no-repeat;width:24px;height:20px;display:inline-block;margin-right:1rem;background-position:0 -21px;float:left}
html.no_touch header #header_team_name a:hover,html.no_touch header #menu_toggle:hover{color:#1d9bd1;text-decoration:none}
html.no_touch header #header_team_name a:hover .menu_icon,html.no_touch header #menu_toggle:hover .menu_icon{background-position:0 2px}
header .header_nav{position:absolute;right:0;top:0;height:5rem}
header .header_links{margin-right:.75rem}
header .header_links a{padding:1.7rem .75rem;color:#616061;display:inline-block;font-size:1rem;font-weight:700}
header .header_links a.active{padding:.45rem .75rem .4rem;border-radius:.25rem;text-decoration:none;background:rgba(29,28,29,.13);color:#1d1c1d}
header .header_btn{margin:1.4rem 1.4rem 1.4rem 0}
header .header_btns .btn_basic,header .header_btns a{text-align:center;font-size:.8rem;color:#616061;cursor:pointer;display:inline-block;float:left;font-weight:700;padding:1.4rem 1.2rem .6rem;line-height:1.25rem}
header .header_btns .btn_basic i,header .header_btns a i{font-size:28px;width:28px}
header .header_btns .btn_basic .label,header .header_btns a .label{color:#616061;margin-left:-1px}
header .header_btns .btn_basic img,header .header_btns a img{margin:-4px .5rem 2px;width:30px;height:30px}
header #header_team_nav{display:none;position:absolute;top:90%;right:9.5rem;background:#fff;list-style:none;margin:0;min-width:330px;padding:.25rem;border:1px solid #d2d2d2;border-radius:.25rem;box-shadow:0 2px 6px rgba(0,0,0,.5);font-weight:700;max-height:340px;overflow-y:auto}
header #header_team_nav li a{padding:.25rem;display:block;color:#1d1c1d;border-radius:.25rem;font-size:1rem;height:2.75rem}
header #header_team_nav li a .team_name{line-height:2.25rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:268px;display:inline-block}
header #header_team_nav li a .team_name.active{max-width:225px}
header #header_team_nav li a .switcher_label{line-height:2.25rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:300px;display:inline-block}
header #header_team_nav li a .team_icon.ts_icon_plus{background:#ddd;color:#616061;font-size:18px;text-shadow:none}
header #header_team_nav li a .active_icon{float:right;padding:.2rem .7rem}
header #header_team_nav li a .active_icon~.switcher_label{max-width:220px}
header #header_team_nav li.active a{background:#f8f8f8}
header #header_team_nav #add_team_option{border-top:2px solid #ddd;margin-top:.25rem;padding-top:.25rem}
header #header_team_nav #add_team_option .switcher_label{font-size:.9rem}
header #header_team_nav .non_team_option{display:flex;align-items:center;font-size:.9rem;padding:.5rem .25rem;margin:0;height:2.75rem;width:100%}
header #header_team_nav .non_team_option--all{border-radius:.25rem;height:2.5rem;padding-bottom:.25rem}
header #header_team_nav .non_team_option--other{border-top:2px solid #ddd;border-radius:0;height:2.875rem;height:calc(2.75rem + 2px);margin-top:.25rem}
header #header_team_nav .non_team_option--btn_link{color:#1d1c1d;text-decoration:none}
html.no_touch header #header_plans_nav li a:hover,html.no_touch header #header_plans_nav li button:hover,html.no_touch header #header_team_nav li a:hover,html.no_touch header #header_team_nav li button:hover{background:#f8f8f8;text-decoration:none}
html.no_touch header .header_btns .btn_basic:hover,html.no_touch header .header_btns a:hover{text-decoration:none;color:#1d9bd1}
html.no_touch header .header_btns .btn_basic:hover .label,html.no_touch header .header_btns a:hover .label{color:#1d9bd1}
header #header_team_nav.open{display:block}
header #header_plans_nav{display:none;position:absolute;top:90%;right:16.25rem;background:#fff;list-style:none;margin:0;min-width:172px;padding:.5rem .25rem;border:1px solid #d2d2d2;border-radius:.25rem;box-shadow:0 2px 6px rgba(0,0,0,.5);font-weight:700;overflow-y:auto}
header #header_plans_nav li a{position:relative;display:block;color:#1d1c1d;border-radius:.25rem;font-size:1rem;margin:.25rem 0;padding:.125rem .25rem;line-height:1.75rem;width:100%;text-align:left;overflow:hidden}
header #header_plans_nav li a .switcher_label{text-overflow:ellipsis;overflow:hidden;vertical-align:middle;max-width:128px;display:block}
header #header_plans_nav li.active a{background:#f8f8f8}
header #header_plans_nav li.active a:after{font-family:Slack;font-size:20px;font-weight:400;content:'\E205';position:absolute;right:8px;top:0}
header #header_plans_nav.open{display:block}
header .deprecate_banner.alert_page{background-color:#1d1c1d;box-shadow:inset 0 1px 4px rgba(0,0,0,.15);color:#fff}
header .deprecate_banner.alert_page ts-icon{vertical-align:middle;margin:0 4px}
.headroom--pinned{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.headroom--unpinned{-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%)}
.log_output:first-child{margin-top:5rem}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){header .menu_icon{background-image:url(/80588/img/icn_menu@2x.png);background-size:100%}
}
.card{background-color:#fff;border-radius:.25rem;box-shadow:0 1px 0 rgba(0,0,0,.25);padding:2rem 2rem 1rem;margin:0 auto 2rem;position:relative;border:1px solid #ddd}
.card.compact{padding:1rem}
.card.framed{border-width:2px;box-shadow:none}
.card.card_info{border-color:#1d9bd1}
.card.card_warning{border-color:#de4e2b}
.card.card_success{border-color:#007a5a}
.card.card_error{border-color:#e01e5a}
.card h3 a{color:#1d1c1d}
@media only screen and (min-width:1024px){.card.card--thick_sides{padding:2rem 2.6rem}
}
.member_card{display:flex;padding:.75rem;border-radius:5px;border:1px solid #ddd}
.member_card_details{align-self:center}
.plastic_row{display:block;border-radius:.25rem;padding:.5rem;margin:0 0 .25rem;position:relative;padding-left:4.5rem;padding-right:100px;border:1px solid transparent}
.plastic_row h3{margin-top:-.1rem;margin-bottom:0;color:#1d1c1d}
.plastic_row h4{margin-bottom:.1rem}
.plastic_row h4 a{color:#1d1c1d}
.plastic_row .icon{color:#fff;width:48px;height:48px;font-size:30px;text-align:center;line-height:48px;border-radius:.25rem;float:left;margin-left:-4rem;cursor:pointer}
.plastic_row .icon:before{font-size:inherit}
.plastic_row .chevron{position:absolute;right:1rem;top:1.4rem;font-size:1.5rem;color:#ddd}
.plastic_row .btn:not(.inline_block){position:absolute;right:1rem;top:.9rem}
.plastic_row .description{color:#616061;display:block;word-wrap:break-word;word-break:break-word;margin-right:5rem}
.plastic_row:active{background:#f8f8f8;border-color:#ddd;text-decoration:none}
.plastic_row:active h3{text-decoration:none}
.plastic_row:active .chevron{color:#1d1c1d}
html.no_touch .plastic_row:hover{background:#f8f8f8;border-color:#ddd;text-decoration:none}
html.no_touch .plastic_row:hover h3{text-decoration:none}
html.no_touch .plastic_row:hover .chevron{color:#1d1c1d}
@media only screen and (max-width:640px){.plastic_row{padding-left:3.25rem}
.plastic_row .icon{width:32px;height:32px;font-size:1.5rem;line-height:32px;margin-left:-2.75rem}
.plastic_row .chevron{display:none}
.plastic_row .btn{position:relative;top:0;right:0;margin-top:.25rem}
.plastic_row .description{margin-right:0}
}
.tab_set{position:relative;max-height:3rem;display:flex}
.tab_set a{padding:12px 32px 11px;font-weight:700;margin-bottom:-1px;border:1px solid transparent;border-top-right-radius:.25rem;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:.25rem;background-clip:padding-box;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:100%}
:lang(ja) .tab_set a{font-size:.875rem}
.tab_set.compressed a{padding-left:22px;padding-right:22px}
.tab_set a.secondary.selected,.tab_set a.selected{border:1px solid #ddd;background:#fff;border-bottom-color:#fff;color:#1d1c1d;cursor:default}
.tab_set a.selected.is_linked{cursor:pointer}
.tab_set a.selected:hover{text-decoration:none}
.tab_set a.secondary{margin-left:auto;color:#616061}
.tab_set a.secondary~a.secondary{margin-left:0}
.tab_set .tab_caret{display:none}
.tab_pane{display:none;background:#fff;border-radius:0 0 .25rem .25rem;box-shadow:0 1px 0 rgba(0,0,0,.25);padding:2rem 2rem 1rem;margin:0 auto 3rem;border:1px solid #ddd}
.tab_pane.selected{display:block}
.tab_pane.selected.display_flex{display:flex}
.tab_actions{background:#fff;height:4.5rem;padding:1rem;border:1px solid #ddd;margin-bottom:-1px}
.account_tab_set a,.admin_tabs a,.customize_tab_set a{padding:12px 22px 11px}
.customize_tab_set a{font-size:16px}
.accordion_section{border-bottom:1px solid #ddd;padding:1rem 6rem 1rem 0;position:relative}
.accordion_section h4,.accordion_section h4 a{color:#1d1c1d}
.no_touch .accordion_section h4 a:hover{color:#1d9bd1}
.accordion_section:last-of-type{border-bottom:0}
.accordion_expand,.accordion_expand.btn{position:absolute;top:1rem;right:0;text-transform:lowercase}
.accordion_section_fixed{border-bottom:1px solid #ddd!important}
.prevent_copy_paste:before{content:attr(aria-label)}
.slack_logo_dark{display:none}
@media only screen and (min-width:1441px){.widescreen:not(.nav_open) nav#site_nav{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);background:0 0;margin-top:5.5rem;position:absolute;z-index:100;text-shadow:none;overflow:visible}
.widescreen:not(.nav_open) nav#site_nav h3{color:#1d1c1d}
.widescreen:not(.nav_open) nav#site_nav ul a,.widescreen:not(.nav_open) nav#site_nav ul a:active,.widescreen:not(.nav_open) nav#site_nav ul a:hover,.widescreen:not(.nav_open) nav#site_nav ul a:link,.widescreen:not(.nav_open) nav#site_nav ul a:visited{color:#1d1c1d}
.widescreen:not(.nav_open) nav#site_nav #user_menu_name{color:#1d1c1d}
html.no_touch .widescreen:not(.nav_open) nav#site_nav #user_menu_contents:hover{background:0 0}
html.no_touch .widescreen:not(.nav_open) nav#site_nav #user_menu_contents:hover .member_type_badge .member_type_badge_background_ra #badge_bg,html.no_touch .widescreen:not(.nav_open) nav#site_nav #user_menu_contents:hover .member_type_badge .member_type_badge_background_ura #badge_bg{fill:#f8f8f8}
.widescreen:not(.nav_open) nav#site_nav #user_menu_contents{cursor:default}
.widescreen:not(.nav_open) nav#site_nav #footer_nav a{color:#616061}
.widescreen:not(.nav_open) header #menu_toggle{-webkit-transform:translateX(-146px);-moz-transform:translateX(-146px);-ms-transform:translateX(-146px);transform:translateX(-146px);-webkit-transition:-webkit-transform .15s cubic-bezier(.2,.3,.25,.9);-moz-transition:-moz-transform .15s cubic-bezier(.2,.3,.25,.9);transition:transform .15s cubic-bezier(.2,.3,.25,.9)}
.widescreen:not(.nav_open) header #header_team_name{-webkit-transform:translateX(-146px);-moz-transform:translateX(-146px);-ms-transform:translateX(-146px);transform:translateX(-146px);-webkit-transition:-webkit-transform .15s cubic-bezier(.2,.3,.25,.9);-moz-transition:-moz-transform .15s cubic-bezier(.2,.3,.25,.9);transition:transform .15s cubic-bezier(.2,.3,.25,.9)}
.widescreen:not(.nav_open) #page_contents.full_width{padding-left:300px}
}
@media only screen and (min-width:1441px) and (max-width:1640px){#site_nav_contents{width:250px}
}
@media only screen and (min-width:1440px) and (max-height:768px){.widescreen:not(.nav_open) nav#site_nav{margin-top:4.5rem}
.widescreen:not(.nav_open) header #header_team_name{-webkit-transform:translateX(-124px);-moz-transform:translateX(-124px);-ms-transform:translateX(-124px);transform:translateX(-124px)}
.widescreen:not(.nav_open) header i{margin:0 .25rem 0 0}
}
@media only screen and (max-height:768px),screen and (max-width:640px){#page_contents{padding:6rem 2rem}
body.no_header #page_contents{padding-top:2rem}
header{height:4rem}
header #menu_toggle{height:4rem;padding:1.4rem}
header .vert_divider{margin:.75rem 0}
header #header_team_name{padding:0;line-height:1.7rem}
header #header_team_name a{padding-top:1.25rem}
header #header_logo{padding:.9rem;height:4rem}
header .header_links a{padding:1.3rem .7rem}
header .header_btn{margin:.9rem .9rem .9rem .7rem}
header .header_btns .btn_basic,header .header_btns a{line-height:1.2rem;padding:.9rem 1rem .4rem}
header .header_btns .btn_basic i,header .header_btns a i{font-size:24px}
header .header_btns .btn_basic img,header .header_btns a img{margin-top:-3px;margin-bottom:3px;width:26px;height:26px}
header #header_team_nav{top:73%;right:9rem}
header #header_plans_nav{top:73%;right:15rem}
.log_output:first-child{margin-top:4rem}
nav#site_nav #user_menu_contents{height:4rem;padding-top:.7rem}
nav#site_nav #user_menu_avatar{margin-right:.75rem;margin-top:.3rem}
nav#site_nav #user_menu_avatar .thumb_48{display:none}
nav#site_nav #user_menu_avatar .thumb_36{display:block}
}
@media only screen and (max-height:415px),screen and (max-width:812px){header #header_plans_nav{right:16rem}
}
@media only screen and (min-width:1024px){#page_contents{width:1024px}
.full_width_fixed_section{left:50%;margin-left:-512px}
}
@media only screen and (max-width:1024px){.tab_set a{padding:12px 16px 11px;font-size:1rem}
}
@media only screen and (max-width:768px){.tab_set{height:3rem;z-index:10;margin-bottom:-1px;display:block}
.tab_set a{display:block;position:absolute;width:100%;background:#fff;border:1px solid #ddd;padding:12px 3rem 11px 1rem;cursor:pointer;border-top-right-radius:.25rem;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:.25rem;background-clip:padding-box}
html.no_touch .tab_set .tab_caret:hover,html.no_touch .tab_set a:hover{background:#f8f8f8}
.tab_set a.secondary.selected,.tab_set a.selected{z-index:10;border-bottom-color:#ddd;cursor:pointer}
.tab_set .tab_caret{position:absolute;top:11px;right:24px;z-index:1000;font-size:28px;cursor:pointer}
.tab_set .tab_caret.ts_icon_caret_down{display:inline-block}
html.no_touch .tab_set:not(.open):hover a:first-of-type{background:#f8f8f8}
.tab_set.open a{position:relative;border-radius:0}
.tab_set.open a:first-of-type{border-top-right-radius:.25rem;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:.25rem;background-clip:padding-box}
.tab_set.open a.secondary{float:none}
.tab_set.open .tab_caret.ts_icon_caret_up{display:inline-block;top:10px}
.tab_set.open .tab_caret.ts_icon_caret_down{display:none}
.tab_pane{padding:2rem 1rem 1rem}
header .header_btns .btn_basic img,header .header_btns a img{float:none}
header #header_team_name a{max-width:320px}
.full_width_fixed_section{padding:0 1rem}
}
@media only screen and (max-height:768px){header #header_team_name a i{margin:-2px .25rem 0 0}
nav#site_nav #user_menu_name{margin-top:-8px}
.full_width_fixed_section{padding:0 1rem}
}
@media only screen and (max-width:640px){#page_contents{width:100%;padding:1rem .8rem;margin-top:4rem}
body.no_header #page_contents{padding-top:1rem;margin-top:0}
#nojs_banner{margin-top:4rem}
nav#site_nav{width:280px;-webkit-transform:translateX(-280px);-moz-transform:translateX(-280px);-ms-transform:translateX(-280px);transform:translateX(-280px)}
nav#site_nav #user_menu_name{margin-top:-5px}
.nav_open #page,.nav_open header,.nav_open nav.top{-webkit-transform:translateX(280px);-moz-transform:translateX(280px);-ms-transform:translateX(280px);transform:translateX(280px)}
header #header_team_name a{max-width:272px;font-size:1.2rem}
header #header_team_name a i{font-size:26px;margin:0}
header #menu_toggle{padding-right:.4rem}
header .header_links,header .menu_label{display:none}
header .header_btns .btn_basic,header .header_btns a{padding:1.4rem .5rem 1.1rem}
header .header_btns .btn_basic .label,header .header_btns a .label{display:none!important}
header .header_btns .btn_basic img,header .header_btns a img{margin-right:.25rem;margin-left:0}
header #header_team_nav{right:6rem}
header #header_plans_nav{right:5rem;top:73%}
.tab_set a{padding-left:.8rem;font-size:1rem}
.tab_pane{padding:1rem .8rem}
.card{padding:1rem}
.header_icon{margin-left:0}
.accordion_section{padding-right:0}
.accordion_section>h4{margin-right:5rem}
.accordion_expand{top:.75rem}
}
@media only screen and (max-width:480px){header #header_team_name a{max-width:254px}
header #help_link,header #plans_switcher{display:none}
}
@media only screen and (max-width:400px){header #header_team_name a{max-width:174px}
header #header_team_nav{right:.1rem}
}
section{clear:both;padding:0;margin:0;width:100%}
.col{display:block;float:left;margin:0 0 2%;padding-right:2%}
.col+.col{margin-left:1.6%}
.span_1_of_1{width:100%;padding-right:0}
.span_1_of_2{width:49.2%}
.span_2_of_2{width:100%;padding-right:0}
.span_1_of_3{width:32.26%}
.span_2_of_3{width:66.13%}
.span_3_of_3{width:100%;padding-right:0}
.span_1_of_4{width:23.8%}
.span_2_of_4{width:49.2%}
.span_3_of_4{width:74.6%}
.span_4_of_4{width:100%;padding-right:0}
.span_1_of_5{width:18.72%}
.span_2_of_5{width:39.04%}
.span_3_of_5{width:59.36%}
.span_4_of_5{width:79.68%;padding-right:0}
.span_5_of_5{width:100%;padding-right:0}
.span_1_of_6{width:15.33%}
.span_2_of_6{width:32.26%}
.span_3_of_6{width:49.2%}
.span_4_of_6{width:66.13%}
.span_5_of_6{width:83.06%}
.span_6_of_6{width:100%;padding-right:0}
.span_1_of_12{width:6.86%}
.span_2_of_12{width:15.33%}
.span_3_of_12{width:23.8%}
.span_4_of_12{width:32.26%}
.span_5_of_12{width:40.73%}
.span_6_of_12{width:49.2%}
.span_7_of_12{width:57.66%}
.span_8_of_12{width:66.13%}
.span_9_of_12{width:74.6%}
.span_10_of_12{width:83.06%}
.span_11_of_12{width:91.53%}
.span_12_of_12{width:100%;padding-right:0}
@media only screen and (max-width:767px){.col:not(.mobile_col){margin:0 0 2%;width:100%!important;padding-right:0}
.col+.col{margin-left:0}
}